.Nav{
  &-Mobile{
    display: none;
  }
  &-Item{
    text-decoration: none;
    margin-left:32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }
  &-Text{
    color: #333;
    font-weight: bold;
    font-size: 15.2px;
    opacity: 0.6;
    &:hover{
      opacity: 1;
    }
  }
}
@media(max-width: 850px){
  .Nav{
    display: none;
    &-Mobile{
      display: block;
      div{
        height: 2px;
        width: 17px;
        background-color: #333;
        border-radius: 23px;
        margin-bottom: 3px;
      }
    }
  }
}