@media(max-width: 450px){
  .card{
    padding:16px;
    &__title{
      font-size: 14px;
    }
    &_m-t{
      margin-top:0px;
    }
    &__icon{
      font-size: 16px;
    }
    &__icon-2{
      font-size: 29px;
    }
    &__icon-3{
      font-size: 19px;
    }
    &__icon-4{
      font-size: 24px;
    }
    &__text{
      font-size: 12px;
    }
    &__decription{
      font-size: 18px;
      padding-right: 0;
    }
    &__description-2{
      font-size: 19px;
    }
    &__image{
      height: 133px;
    }
    &__image-2{
      height: 247px;
    }
  }
}