body{
  margin:0;
  font-family:Arial;
  padding: 0 20px;
}
.w-100{
  width: 100%!important;
}
.h-40{
  height: 40vw!important
}
.h-0{
  height: 0!important;
}
.w-0{
  width: 0!important;
}
.o-0{
  opacity: 0;
}
.o-1{
  opacity: 1;
}
.active{
  display: block;
}
.d-none{
  display: none;
}
.flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-wrap-d{
  flex-wrap: wrap;
}
.flex-jc-start{
  justify-content: flex-start;
}
.flex-jc-sb{
  justify-content: space-between;
}
.flex-fd-col-d{
  flex-direction: column;
}
.flex-al-fs-d{
  align-items: flex-start;
}
.flex-al-fs{
  align-items: flex-start;
}
.grid{
  display:grid;
  grid-gap:20px;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row dense;
  grid-auto-columns: auto;
}
.grid-c-12{
  grid-column-start: 12 span;
}
.grid-c-4{
  grid-column-start: 4 span;
}
.grid-c-1-4{
  grid-column: 1 / span 4;
}
.grid-c-6{
  grid-column-start: 6 span;
}
.grid-c-8{
  grid-column-start: 8 span;
}
.grid-r-3{
  grid-row-start: span 3;
}
.half{
  width: 50%;
}
.overflow-hidden{
  overflow: hidden;
}
.container{
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
}
.main_container{
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.line{
  width: 100%;
  height: 1px;
  background-color: black;
  background: #F0F0F0;
  margin-left: auto;
  margin-right: auto;
}
.text-decoration_none{
  text-decoration: none;
}
.mt-11{
  margin-top: 11px;
}
.mt-13{
  margin-top: 13px;
}
.mt-18{
  margin-top: 18px;
}
.mt-20{
  margin-top: 20px;
}
.mt-24{
  margin-top: 24px;
}
.mt-26{
  margin-top: 26px;
}
.mt-33{
  margin-top: 33px;
}
.mt-48{
  margin-top: 48px;
}
.mt-54{
  margin-top:54px;
}
.ml-4{
  margin-left: 4px;
}
.ml-6{
  margin-left:6px;
}
.ml-13{
  margin-left:13px;
}
.ml-16{
  margin-left: 16px;
}
.ml-20{
  margin-left: 20px;
}
.ml-24{
  margin-left: 24px;
}
.ml-30{
  margin-left: 30px;
}
.ml-54{
  margin-left: 54px;
}
.mt-3{
  margin-top: 3px;
}
.mt-58{
  margin-top: 58px;
}
.mt-minus-3{
  margin-top: -3px;
}
.mb-44{
  margin-bottom: 44px;
}
.p-r-60{
  padding-right: 60px;
}
.pr-40{
  padding-right: 40px;
}
.p-20-20-0{
  padding: 20px 20px 0px;
}
.p-0-20{
  padding: 0px 20px;
}
.pt-32{
  padding-top: 32px;
}
.text_strong{
  font-weight: bold;
}
.color_white{
  color:white!important;
}
.no-padding{
  padding: 0!important;
}
.no-margin{
  margin:0!important;
}
.revert{
  transform: rotate(180deg);
}
.order-2-tablet{
  order:unset;
}
.order-2-mobile{
  order:unset;
}

@media(max-width: 850px){
  .grid-c-8{
    grid-column-start: 12 span;
  }
  .grid-c-6 {
    grid-column-start: 12 span;
  }
  .grid-c-4,.grid-c-1-4 {
    grid-column-start: 6 span;
  }
  .order-2-tablet{
    order: 2;
  }
  .order-2-mobile{
    order:unset;
  }
  .flex-jc-sb-tablet{
    justify-content: space-between;
  }
}

@media(max-width: 560px){
  .order-2-mobile{
    order:2;
  }
  .order-2-tablet{
    order: unset;
  }
  .grid-c-4,.grid-c-1-4 {
    grid-column-start: 12 span;
  }
}
@media(max-width: 450px){
  .flex-jc-sb-m{
    justify-content: space-between;
  }
  .flex-fd-col-d{
    flex-direction: row;
  }
  .flex-al-fs-d{
    align-items: center;
  }
  .flex-wrap-d{
    flex-wrap: nowrap;
  }
  .line{
    display: none;
  }
  .mt-18{
    margin-top: 20px;
  }
  .mt-24{
    margin-top: 18px;
  }
  .mt-26{
    margin-top:18px;
  }
  .mt-33{
    margin-top: 23px;
  }
  .mt-48{
    margin-top: 20px;
  }
  .mt-54{
    margin-top: 24px;
  }
  .mt-58{
    margin-top: 25px;
  }
  .ml-54{
    margin-left: 100px;
  }
  .p-r-60{
    padding-right: 0;
  }
  .ml-4,.ml-6,.ml-13{
    margin-left: 0px;
  }
  .pt-32{
    padding-top: 20px;
  }
}
