@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?di04ca');
  src:  url('../fonts/icomoon.eot?di04ca#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?di04ca') format('truetype'),
  url('../fonts/icomoon.woff?di04ca') format('woff'),
  url('../fonts/icomoon.svg?di04ca#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e900";
  color: #666;
}
.icon-cleaner-2:before {
  content: "\e901";
}
.icon-kettle:before {
  content: "\e902";
}
.icon-next:before {
  content: "\e903";
  color: #666;
}
.icon-odoor:before {
  content: "\e908";
}
.icon-everyday:before {
  content: "\e909";
}
.icon-climate:before {
  content: "\e90b";
}
.icon-fridge:before {
  content: "\e90c";
}
.icon-cleaner:before {
  content: "\e90d";
}
.icon-router:before {
  content: "\e90e";
}
.icon-charge:before {
  content: "\e90f";
}
.icon-condition:before {
  content: "\e91a";
  color:white;
}
.icon-close{
  position: absolute;
  right: 23px;
  opacity: 0;
  transition: 0.5s;
  top:19px;
  cursor:pointer;
}
.icon-next{
  position:absolute;
  right: 23px;
  opacity: 0;
  transition: 0.5s;
  bottom: 19px;
  cursor: pointer;
}

@media(max-width: 450px){
  .icon-close,.icon-next{
    display: none!important;
  }
}